<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/changePassword.css}">
</head>
<body>
<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<div class="center-eng-text">F i n d P a s s w o r d</div>
	<div class="center-ko-text">비밀번호 재설정</div>
	<div class="write-line"></div>
	<form action="changePassword" method="post">
	<input class="password-write-box" type="password" id="m_pw" name="m_pw" placeholder="변경할 비밀번호">
	<input class="center-button" type="submit" value="비밀번호 변경">
	</form>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>