<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>이메일 찾기</title>
<link rel="stylesheet" th:href="@{/css/findEmail.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<!-- 이메일 찾기 텍스트 -->
	<div class="center-eng-text">F i n d E m a i l</div>
	<!-- <div class="center-ko-text">이메일 찾기</div> -->
	<div class="write-line"></div>
	<!-- 이메일 찾기 폼 태그 -->
	<form id="findEmailProc" action="findEmailProc" method="post">
		<!-- 이름 작성 박스 -->
		<input class="name-write-box" type="text" id="m_name" name="m_name"
			required placeholder="성함"> 
		<!-- 전화번호 작성 박스 -->	
		<input class="phone-write-box"
			type="text" id="m_phone" name="m_phone" required placeholder="전화번호">
		<!-- 성별 선택 박스 -->	
		<div class="gender-box">
			성별
			<div class="male-array">
				<input class="gender-male" type="radio" id="male" name="m_gender"
					value="male"> <span class="gender-male-text">남성</span>
			</div>
			<div class="female-array">
				<input class="gender-female" type="radio" id="female"
					name="m_gender" value="female"> <span
					class="gender-female-text">여성</span>
			</div>
		</div>
		<!-- 이메일 찾기 버튼 -->
		<input class="center-button" type="submit" value="이메일 찾기">
	</form>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>