<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
    <link rel="stylesheet" th:href="@{/css/manageMember.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
   	<!-- 회원 관리 텍스트 -->
	<div class="center-eng-text">M a n a g e M e m b e r</div>
	<div class="center-ko-text">회원 관리</div>
	<div class="write-line"></div>
	<!-- 표 크기 -->
	<div class="member-graph">
    <table>
        <thead>
        	<!-- 표 헤더 -->
            <tr class="member-graph-header">
                <th class="member-graph-header">ID</th>
                <th class="member-graph-header">Email</th>
                <th class="member-graph-header">Name</th>
                <th class="member-graph-header">Phone</th>
            </tr>
        </thead>
        <!-- 리스트 -->
        <tbody class="member-graph-list">
            <tr class="member-graph-list" th:each="member : ${memberList}">
                <td class="member-graph-list" th:text="${member.m_id}">ID</td>
                <td class="member-graph-list" th:text="${member.m_email}">Email</td>
                <td class="member-graph-list" th:text="${member.m_name}">Name</td>
                <td class="member-graph-list" th:text="${member.m_phone}">Phone</td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- 이전 버튼 -->
    <a class="back-button" href="/adminPage">이전 페이지</a>
    <!-- 푸터 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
