<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>자동차 이동경로 표시하기</title>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b3926d3c8dcc51df1b147cee756c64e7&libraries=services"></script>

	<style>
		/* 지도 컨테이너 스타일이 올바르게 설정되었는지 확인 */
		#map {
			width: 100%;
			height: 500px;
			border: 1px solid black;
			/* 시각적 확인을 위한 경계선 추가 */
		}
	</style>
</head>

<body>
	<div id="map"></div>

	<script th:inline="javascript">
		// 서버에서 전달된 좌표 데이터
		const fromX = /*[[${fromPoint?.x}]]*/ null;
		const fromY = /*[[${fromPoint?.y}]]*/ null;
		let wayPoint2 = /*[[${wayPoint2}]]*/ null;
		const toX = /*[[${toPoint?.x}]]*/ null;
		const toY = /*[[${toPoint?.y}]]*/ null;
		var pointList = /*[[${placeList}]]*/ '[]';
		pointList = pointList ? JSON.parse(pointList) : [];

		console.log(wayPoint2);

		var mapContainer = document.getElementById('map'),
			mapOption = {
				center: new kakao.maps.LatLng(33.450701, 126.570667),
				level: 3
			};

		var map = new kakao.maps.Map(mapContainer, mapOption);
		if (map) {
			console.log("지도 객체가 성공적으로 초기화되었습니다.");
		} else {
			console.error("지도 객체 초기화에 실패했습니다.");
		}

		function setMarkersAndPath() {
			var bounds = new kakao.maps.LatLngBounds();
			var linePath = [];
			if (fromY != null) {
				var fromMarkerPosition = new kakao.maps.LatLng(fromY, fromX);
				var fromMarker = new kakao.maps.Marker({
					position: fromMarkerPosition,
					map: map,
					title: "출발지"
				});
				//linePath.push(fromMarkerPosition);
				bounds.extend(fromMarkerPosition);
				console.log("출발지 마커 추가:", fromMarkerPosition);
			}

			if (wayPoint2.length > 0) {
				wayPoint2.forEach(waypoint => {
					var wayMarkerPosition = new kakao.maps.LatLng(waypoint.y, waypoint.x);
					var wayMarker = new kakao.maps.Marker({
						position: wayMarkerPosition,
						map: map,
						title: "경유지"
					});
					//linePath.push(wayMarkerPosition);
					bounds.extend(wayMarkerPosition);
					console.log("경유지 마커 추가:", wayMarkerPosition);

				});
			} else {
				console.warn("경유지가 비어 있습니다.", wayPoint2);
			}

			if (toY != null) {
				var toMarkerPosition = new kakao.maps.LatLng(toY, toX);
				var toMarker = new kakao.maps.Marker({
					position: toMarkerPosition,
					map: map,
					title: "목적지"
				});
			//	linePath.push(toMarkerPosition);
				bounds.extend(toMarkerPosition);
				console.log("목적지 마커 추가:", toMarkerPosition);
			}
			console.log("linePath 배열:", linePath);
			if (pointList.length > 0) {
				pointList.forEach(point => {
					var pointPosition = new kakao.maps.LatLng(point.x, point.y);
					linePath.push(pointPosition);
					bounds.extend(pointPosition);
					// console.log("포인트 추가:", pointPosition);
				});
			}
			
			// 각 라인의 좌표를 확인
            linePath.forEach((latlng, index) => {
                console.log(`linePath[${index}]: ${latlng.getLat()}, ${latlng.getLng()}`);
            });
			

			var polyline = new kakao.maps.Polyline({
				path: linePath,
				strokeWeight: 5,
				strokeColor: 'blue',
				strokeOpacity: 0.7,
				strokeStyle: 'solid'
			});
			polyline.setMap(map);

			// 지도의 범위를 설정합니다.
			if (!bounds.isEmpty()) {
				map.setBounds(bounds);
				console.log("지도의 범위가 설정되었습니다.");
			} else {
				console.warn("지도의 범위가 비어 있습니다.");
			}
		}

		setMarkersAndPath();

	</script>
</body>

</html>