<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/placeDetail.css}">
</head>
<body>
	<!-- 헤더 -->
   	<th:block th:replace="~{fragments/header :: header}"></th:block>
   	<div th:if="${place}">
      <!-- 이 부근은 DB에서 사진 불러오는게 안되서 주석처리했습니다. 
          사진 불러오는게 정상적으로 처리되면 아래의 previews의 
          preview-img class를 입히면 됩니다. -->
      <!-- <div class="previews">
       <img th:src="@{'/getImage/' + ${place.p_iname}}" alt="이미지">
       -->
       <!-- 디테일 첫 화면 이미지 -->
  	<div class="previews">
         <!-- 대표 이미지 -->
            <div class="preview-img">
            	<img src="/images/nightView.jpg">
               <!-- <img th:src="@{'/getImage/' + ${place.p_iname}}" alt="이미지">  -->
            </div>
		</div>
		<!-- 장소 이름 -->
		<div class="place-name" th:text="${place.p_name}"></div>
		<div class="text-start-line"></div>
		<!-- 지역 이름 -->
		<div class="place-location" th:text="${place.p_location}"></div>
		<!-- 조회수, 별점 위치 -->
   		<div class="views-array">
     	<div class="views" th:if="${place != null}">
   		 조회수 : <span th:text="${place.p_views}"></span>
		</div>
   		</div>
         <!-- 세부 디테일 내용 페이지 글 -->
         <div class="place-detail-array-box">
            <div class="place-detail-description"
               th:text="${place.p_description}"></div>
         </div>
      </div>
	<!-- 푸터 -->
   	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		$("#stScoreButton").click(function(event) {
			event.preventDefault();
			$.ajax({
				type : "POST",
				url : "like",
				data : {
					p_code : "${placeDetail.p_code}"
				},
				dataType : 'json',
				cache : false, // 캐시 사용 x
				success : function(newLikeCount) {
					// 좋아요 개수를 업데이트하여 화면에 반영
					$("#stScoreButton").text("좋아요: " + newLikeCount);
				},
				error : function(xhr, status, error) {
					console.error(xhr.responseText);
				}
			});
		});
	});
</script>
</html>