<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/placeListByLocation.css}">
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<!-- 지역 정렬 -->
	<div class="location-array">
		<!-- 지역 정렬 박스 -->
		<div class="container">
			<div class="button-text-container">
				<button class="circle-button">서울</button>
				<span class="location-name">서울</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">부산</button>
				<span class="location-name">부산</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">인천</button>
				<span class="location-name">인천</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">대구</button>
				<span class="location-name">대구</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">대전</button>
				<span class="location-name">대전</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">울산</button>
				<span class="location-name">울산</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">광주</button>
				<span class="location-name">광주</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">경기</button>
				<span class="location-name">경기</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">강원</button>
				<span class="location-name">강원</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">경상</button>
				<span class="location-name">경상</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">전라</button>
				<span class="location-name">전라</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">충청</button>
				<span class="location-name">충청</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button">제주</button>
				<span class="location-name">제주</span>
			</div>
		</div>
	</div>
	<div class="start-line"></div>
	<!-- 장소 리스트를 반복하여 표시 -->
	<th:block th:if="${placeListByLocation != null and placeListByLocation.size() > 0}">
		<div class="image-container">
			<th:block th:each="place : ${placeListByLocation}">
				<a class="image-item" th:href="@{'/placeDetail/' + ${place.p_id}}">
					<div class="image-wrapper">
						<img class="p-img" th:src="@{'/getImage/' + ${place.p_iname}}"
							alt="이미지"> <span class="place-text"
							th:text="${place.p_name}"></span> <span class="location-text"
							th:text="${place.p_location}"></span> <img class="st-img"
							src="/images/heart.png"> <span class="stScore-text"
							th:text="${place.p_stScore}"></span>
						<div class="comment-text" th:text="${place.p_description}"></div>
					</div>
					<div class="list-line"></div>
				</a>
			</th:block>
		</div>
	</th:block>
	<th:block
		th:unless="${placeListByLocation != null and placeListByLocation.size() > 0}">
		<div class="non-content-text">장소 리스트가 존재하지 않습니다.</div>
	</th:block>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
	<script>
		$(document).ready(function() {
			$('.save-btn').click(function() {
				var placeName = $(this).siblings('.place-text').text();
				var location = $(this).siblings('.location-text').text();
				

				// Ajax 요청을 보냄
				$.ajax({
					url : '/savePlace',
					method : 'POST',
					data : {
						placeName : placeName,
						location : location,
					},
					success : function(response) {
						// 성공적으로 저장되면 할 일
						console.log('저장되었습니다.');
					},
					error : function(xhr, status, error) {
						// 저장 중 오류가 발생하면 할 일
						console.error('저장 중 오류가 발생했습니다:', error);
					}
				});
			});
		});
	</script>
</body>
</html>
