<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/placeListByLocation.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<!-- 지역 정렬 -->
	<div class="location-array">
		<!-- 지역 정렬 박스 -->
		<div class="container">
			<div class="button-text-container">
				<button class="circle-button" data-location="서울"><img src="/images/seoul.jpg"></button>
				<span class="location-name">서울</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="부산"><img src="/images/busan.jpg"></button>
				<span class="location-name">부산</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="인천"><img src="/images/incheon.jpg"></button>
				<span class="location-name">인천</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="대구"><img src="/images/daegu.jpg"></button>
				<span class="location-name">대구</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="대전"><img src="/images/daejeon.jpg"></button>
				<span class="location-name">대전</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="울산"><img src="/images/ulsan.jpg"></button>
				<span class="location-name">울산</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="광주"><img src="/images/gwangju.jpg"></button>
				<span class="location-name">광주</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="경기도"><img src="/images/gyeonggi.jpg"></button>
				<span class="location-name">경기</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="강원도"><img src="/images/gangwon.jpg"></button>
				<span class="location-name">강원</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="경상도"><img src="/images/Gyeongsang.jpg"></button>
				<span class="location-name">경상</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="전라도"><img src="/images/Jeolla.jpg"></button>
				<span class="location-name">전라</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="충청도"><img src="/images/Chungcheong.jpg"></button>
				<span class="location-name">충청</span>
			</div>
			<div class="button-text-container">
				<button class="circle-button" data-location="제주도"><img src="/images/jeju.jpg"></button>
				<span class="location-name">제주</span>
			</div>
		</div>
	</div>
	<div class="start-line"></div>
	<!-- 장소 리스트를 반복하여 표시 -->
	<div id="place-list">
		<th:block th:if="${placeListByLocation != null and placeListByLocation.size() > 0}">
			<div class="image-container">
				<th:block th:each="place : ${placeListByLocation}">
					<a class="image-item" th:href="@{'/placeDetail/' + ${place.p_id}}">
						<div class="image-wrapper">
							<img class="p-img" th:src="@{'/getImage/' + ${place.p_iname}}" alt="이미지"> 
							<span class="place-text" th:text="${place.p_name}"></span> 
							<span class="location-text" th:text="${place.p_location}"></span>
						</div>
						<div class="list-line"></div>
					</a>
				</th:block>
			</div>
		</th:block>
	</div>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
	<script>
		$(document).ready(function() {
			$('.circle-button').click(function() {
				var location = $(this).data('location');
				console.log(location);
				fetchPlacesByLocation(location);
			});
		});
		function fetchPlacesByLocation(location) {
			$.ajax({
				url : '/fetchPlacesByLocation',
				method : 'GET',
				data : {
					location : location
				},
				success : function(response) {
					updatePlaceList(response);
				},
				error : function(xhr, status, error) {
					console.error('장소를 가져오는 중 오류가 발생했습니다:', error);
				}
			});
		}

		function updatePlaceList(data) {
			var placeList = $('#place-list');
			placeList.empty();
			if (data.length > 0) {
				var html = '<div class="image-container">';
				data
						.forEach(function(place) {
							html += '<a class="image-item" href="/placeDetail/' + place.p_id + '">'
									+ '<div class="image-wrapper">'
									+ '<img class="p-img" src="/getImage/' + place.p_iname + '" alt="이미지">'
									+ '<span class="place-text">'
									+ place.p_name
									+ '</span>'
									+ '<span class="location-text">'
									+ place.p_location
									+ '</span>'
									+ '</div>'
									+ '<div class="list-line"></div>' + '</a>';
						});
				html += '</div>';
				placeList.append(html);
			} else {
				placeList
						.append('<div class="non-content-text">장소 리스트가 존재하지 않습니다.</div>');
			}
		}
	</script>
</body>
</html>
