<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>장소 리스트</title>
<link rel="stylesheet" th:href="@{/css/placeList.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b3926d3c8dcc51df1b147cee756c64e7&libraries=services"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<style>
#map {
	height: 500px;
	width: 100%;
}
</style>
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<!-- 지역 정렬 -->
	<div class="location-array">
		<!-- 지역 정렬 박스 -->
		<div class="container">
			<button class="circle-button" onclick="showCategory('서울')">서울</button>
			<button class="circle-button" onclick="showCategory('부산')">부산</button>
			<button class="circle-button" onclick="showCategory('인천')">인천</button>
			<button class="circle-button" onclick="showCategory('대구')">대구</button>
			<button class="circle-button" onclick="showCategory('대전')">대전</button>
			<button class="circle-button" onclick="showCategory('울산')">울산</button>
			<button class="circle-button" onclick="showCategory('광주')">광주</button>
			<button class="circle-button" onclick="showCategory('경기')">경기</button>
			<button class="circle-button" onclick="showCategory('강원')">강원</button>
			<button class="circle-button" onclick="showCategory('경상')">경상</button>
			<button class="circle-button" onclick="showCategory('전라')">전라</button>
			<button class="circle-button" onclick="showCategory('충청')">충청</button>
			<button class="circle-button" onclick="showCategory('제주')">제주</button>
		</div>
	</div>
	<div class="search-background">

		<!-- 검색 적는 박스 -->
		<input class="search-write-box" type="text" id="search-query"
			name="query" placeholder="검색어를 입력해주세요." th:value="${query}">
		<!-- 검색 버튼 -->
		<button class="search-button" type="submit">검색</button>

	</div>
	<!-- 지역, 테마 필터 박스 -->
	<div class="filter2-array">
		<!-- 카테고리 필터 배경색 -->
		<div class="filter2-header-background">
			<!-- 지역 선택 버튼 -->
			<input class="filter2-header-location" type='button' value='지역' />
			<!-- 테마 선택 박스 -->
			<input class="filter2-header-theme" type='button' value='테마'
				onclick="showCategory('테마')" />
			<!-- 체크박스 정렬 -->
			<div class="filter2-checkbox">
				<!-- 테마 출력 -->
				<div class="category" id="테마" style="display: none;">
					<div class="filter-list1">
						<input type="checkbox" id="맛집탐방" name="맛집탐방" value="맛집탐방">
						<label for="맛집탐방">맛집탐방</label> <input type="checkbox" id="효도여행"
							name="효도여행" value="효도여행"> <label for="효도여행">효도여행</label>
						<input type="checkbox" id="역사여행" name="역사여행" value="역사여행">
						<label for="역사여행">역사여행</label> <input type="checkbox" id="놀이공원"
							name="놀이공원" value="놀이공원"> <label for="놀이공원">놀이공원</label>
						<input type="checkbox" id="가족" name="가족" value="가족"> <label
							for="가족">가족</label> <input type="checkbox" id="데이트" name="데이트"
							value="데이트"> <label for="데이트">데이트</label> <input
							type="checkbox" id="친구" name="친구" value="친구"> <label
							for="친구">친구</label> <input type="checkbox" id="나홀로" name="나홀로"
							value="나홀로"> <label for="나홀로">나홀로</label>
					</div>
				</div>
				<div class="filter-list1">
					<!-- 서울 -->
					<div class="category" id="서울" style="display: none;">
						<input type="checkbox" id="강남구" name="강남구" value="강남구"> <label
							for="강남구">강남구</label> <input type="checkbox" id="종로구" name="종로구"
							value="종로구"> <label for="종로구">종로구</label> <input
							type="checkbox" id="용산구" name="용산구" value="용산구"> <label
							for="용산구">용산구</label> <input type="checkbox" id="성동구" name="성동구"
							value="성동구"> <label for="성동구">성동구</label> <input
							type="checkbox" id="광진구" name="광진구" value="광진구"> <label
							for="광진구">광진구</label> <input type="checkbox" id="동대문구"
							name="동대문구" value="동대문구"> <label for="동대문구">동대문구</label>
						<input type="checkbox" id="중랑구" name="중랑구" value="중랑구"> <label
							for="중랑구">중랑구</label> <input type="checkbox" id="성북구" name="성북구"
							value="성북구"> <label for="성북구">성북구</label> <input
							type="checkbox" id="노원구" name="노원구" value="노원구"> <label
							for="노원구">노원구</label> <input type="checkbox" id="은평구" name="은평구"
							value="은평구"> <label for="은평구">은평구</label> <input
							type="checkbox" id="서대문구" name="서대문구" value="서대문구"> <label
							for="서대문구">서대문구</label> <input type="checkbox" id="마포구"
							name="마포구" value="마포구"> <label for="마포구">마포구</label> <input
							type="checkbox" id="양천구" name="양천구" value="양천구"> <label
							for="양천구">양천구</label> <input type="checkbox" id="강서구" name="강서구"
							value="강서구"> <label for="강서구">강서구</label> <input
							type="checkbox" id="구로구" name="구로구" value="구로구"> <label
							for="구로구">구로구</label> <input type="checkbox" id="금천구" name="금천구"
							value="금천구"> <label for="금천구">금천구</label> <input
							type="checkbox" id="영등포구" name="영등포구" value="영등포구"> <label
							for="영등포구">영등포구</label> <input type="checkbox" id="동작구"
							name="동작구" value="동작구"> <label for="동작구">동작구</label> <input
							type="checkbox" id="관악구" name="관악구" value="관악구"> <label
							for="관악구">관악구</label> <input type="checkbox" id="서초구" name="서초구"
							value="서초구"> <label for="서초구">서초구</label> <input
							type="checkbox" id="송파구" name="송파구" value="송파구"> <label
							for="송파구">송파구</label> <input type="checkbox" id="강동구" name="강동구"
							value="강동구"> <label for="강동구">강동구</label>
					</div>
				</div>
				<!-- 부산 -->
				<div class="category" id="부산" style="display: none;">
					<div class="filter-list1">
						<input type="checkbox" id="송파구" name="송파구" value="송파구"> <label
							for="송파구">송파구</label> <input type="checkbox" id="강동구" name="강동구"
							value="강동구"> <label for="강동구">강동구</label>
					</div>
				</div>
				<!-- 인천 -->
				<div class="category" id="인천" style="display: none;">
					<div class="filter-list1">
						<input type="checkbox" id="송파구" name="송파구" value="송파구"> <label
							for="송파구">송파구</label> <input type="checkbox" id="강동구" name="강동구"
							value="강동구"> <label for="강동구">강동구</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 장소 리스트를 반복하여 표시 -->
	<div id="place-list">
		<ul class="place-list">
			<th:block th:each="place : ${placeList}">
				 <li class="place-item">
                    <div class="place-content">
                        <a th:href="@{'/placeDetail/' + ${place.p_id}}" class="place-link">
                            <img th:src="@{'/getImage/' + ${place.p_iname}}" alt="Image of ${place.p_name}" class="place-image" />
                            <div class="place-info">
                                <span th:text="${place.p_name}"></span>
                                <span th:utext="'지역 : ' + ${place.p_location}"></span>
                                <span th:text="'별점 : ' + ${place.p_stScore}"></span>
                            </div>
                        </a>
                        <button type="button" th:attr="data-pid=${place.p_id}" onclick="addToCart(this.getAttribute('data-pid'))" class="add-to-cart-button">장바구니에 추가</button>
                    </div>
                </li>
			</th:block>
		</ul>
	</div>
	<div style="display: flex;">
		<div style="flex: 1;">
			<!-- 장소 리스트 -->
			<ul>
				<!-- 기존 리스트 아이템 -->
			</ul>
		</div>
		<div id="cartSection"
			style="position: fixed; right: 20px; top: 70px; width: 300px;">
			<!-- 장바구니 섹션 -->
			<h1>Your Cart</h1>
			<h2>출발지</h2>
			<ul id="startPoint" class="sortable">
				<!-- 출발지 아이템이 동적으로 추가됩니다 -->
			</ul>
			<h2>경유지</h2>
			<ul id="wayPoints" class="sortable">
				<!-- 경유지 아이템이 동적으로 추가됩니다 -->
			</ul>
			<h2>목적지</h2>
			<ul id="endPoint" class="sortable">
				<!-- 목적지 아이템이 동적으로 추가됩니다 -->
			</ul>
			<button id="clearCartButton">장바구니 비우기</button>
			<button id="routeButton">길찾기</button>
			<div id="map"></div>
		</div>
	</div>

	<!-- 푸터 -->
	<th:block th:id="footer" th:replace="~{fragments/footer :: footer}"></th:block>
</body>

<script th:inline="javascript">
        /*<![CDATA[*/

        function addToCart(p_id) {
            var id = parseInt(p_id, 10);
            if (!Number.isInteger(id)) {
                alert("잘못된 상품 ID입니다.");
                return;
            }

            $.post("/addPlaceToCart", { p_id: id })
                .done(function () {
                    alert("장소가 장바구니에 추가되었습니다.");
                    updateCart(); // 장바구니 업데이트
                })
                .fail(function () {
                    alert("장소를 추가하는데 문제가 발생했습니다.");
                });
        }

        function removeFromCart(pid) {
            $.post("/removeItemFromCart", { p_id: pid })
                .done(function () {
                    alert("상품이 장바구니에서 제거되었습니다.");
                    updateCart(); // 장바구니 UI 업데이트
                })
                .fail(function () {
                    alert("상품을 제거하는데 문제가 발생했습니다.");
                });
        }

        function updateCart() {
            $.get("/showCart")
                .done(function (response) {
                    // 기존 내용을 지웁니다.
                    $("#startPoint").empty();
                    $("#wayPoints").empty();
                    $("#endPoint").empty();

                    if (response.length > 0) {
                        // 출발지 추가
                        $("#startPoint").append(`<li>${response[0].p_name} <button type="button" class="removeItem" data-pid="${response[0].p_id}">삭제</button></li>`);
                        // 경유지 추가
                        for (var i = 1; i < response.length - 1; i++) {
                            $("#wayPoints").append(`<li>${response[i].p_name} <button type="button" class="removeItem" data-pid="${response[i].p_id}">삭제</button></li>`);
                        }
                        // 목적지 추가
                        $("#endPoint").append(`<li>${response[response.length - 1].p_name} <button type="button" class="removeItem" data-pid="${response[response.length - 1].p_id}">삭제</button></li>`);
                    }

                    updateMap(response); // 지도 업데이트
                });
        }

        function initMap() {
            var mapContainer = document.getElementById('map'),
                mapOption = {
                    center: new kakao.maps.LatLng(37.5665, 126.9780), // 초기 지도의 중심 좌표
                    level: 3 // 초기 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);
            var bounds = new kakao.maps.LatLngBounds();
            return { map, bounds };
        }

        function updateMap(locations) {
            var { map, bounds } = initMap(); // 초기 지도를 설정

            if (locations.length === 0) {
                return;
            }

            // 출발지, 경유지, 목적지에만 마커 추가
            if (locations.length > 0) {
                var fromMarkerPosition = new kakao.maps.LatLng(locations[0].y, locations[0].x);
                var fromMarker = new kakao.maps.Marker({
                    position: fromMarkerPosition,
                    title: '출발지'
                });
                fromMarker.setMap(map);
                bounds.extend(fromMarkerPosition);
            }

            if (locations.length > 2) {
                for (var i = 1; i < locations.length - 1; i++) {
                    var wayMarkerPosition = new kakao.maps.LatLng(locations[i].y, locations[i].x);
                    var wayMarker = new kakao.maps.Marker({
                        position: wayMarkerPosition,
                        title: '경유지'
                    });
                    wayMarker.setMap(map);
                    bounds.extend(wayMarkerPosition);
                }
            }

            if (locations.length > 1) {
                var toMarkerPosition = new kakao.maps.LatLng(locations[locations.length - 1].y, locations[locations.length - 1].x);
                var toMarker = new kakao.maps.Marker({
                    position: toMarkerPosition,
                    title: '목적지'
                });
                toMarker.setMap(map);
                bounds.extend(toMarkerPosition);
            }

            // 선을 구성하는 좌표 배열입니다.
            var linePath = [];
            if (Array.isArray(locations) && locations.length > 0) {
                locations.forEach(point => {
                    linePath.push(new kakao.maps.LatLng(point.y, point.x));
                });

                // 디버깅 로그 추가
                console.log('Line Path:', linePath);

                // 선을 생성합니다.
                var polyline = new kakao.maps.Polyline({
                    path: linePath,
                    strokeWeight: 5,
                    strokeColor: 'blue',
                    strokeOpacity: 0.7,
                    strokeStyle: 'solid'
                });

                // 지도에 선을 표시합니다.
                polyline.setMap(map);
            }

            map.setBounds(bounds); // 지도의 경계를 마커가 모두 보이도록 설정합니다
            
        }
 function startRoute() {
    $.get("/showCart")
        .done(function (response) {
            if (response.length > 0) {
                var fromPoint = response[0];
                var toPoint = response[response.length - 1];
                var wayPoints = response.slice(1, response.length - 1);
               var params = {
                    fromX: fromPoint.x,
                    fromY: fromPoint.y,
                    toX: toPoint.x,
                    toY: toPoint.y,
                };

                if (wayPoints.length > 0) {
                    params.wayPoints = wayPoints.map(point => `${point.x},${point.y}`).join('|');
                }

                var paramString = $.param(params);
                window.location.href = "/mapPaths?" + paramString;
            } else {
                alert("장바구니에 장소가 없습니다.");
            }
        });
}

        $(document).ready(function () {
            updateCart(); // 페이지 로드 시 장바구니 및 지도 업데이트

            $('#clearCartButton').click(function () {
                $.post("/clearCart")
                    .done(function (response) {
                        alert(response); // 성공 메시지 표시
                        updateCart(); // 장바구니 UI 업데이트
                    })
                    .fail(function () {
                        alert('장바구니를 비우는 데 실패했습니다.');
                    });
            });

            $('#routeButton').click(function () {
                console.log("길찾기 버튼 클릭됨"); // 디버깅 로그
                startRoute(); // 길찾기 기능 실행
            });

            // 개별 삭제 버튼 클릭 시
            $(document).on('click', '.removeItem', function () {
                var pid = $(this).data('pid');
                removeFromCart(pid); // 해당 상품을 장바구니에서 제거
            });

            // 드래그 앤 드롭을 설정합니다.
            new Sortable(document.getElementById('startPoint'), {
                group: 'shared',
                draggable: 'li',
                onEnd: function (evt) {
                    // 출발지가 변경되면 처리할 코드
                }
            });

            new Sortable(document.getElementById('wayPoints'), {
                group: 'shared',
                draggable: 'li',
                onEnd: function (evt) {
                    // 경유지가 변경되면 처리할 코드
                }
            });

            new Sortable(document.getElementById('endPoint'), {
                group: 'shared',
                draggable: 'li',
                onEnd: function (evt) {
                    // 목적지가 변경되면 처리할 코드
                }
            });
        });
        
        
		function showCategory(category) {
			var categorys = document.getElementsByClassName("category");

			for (var i = 0; i < categorys.length; i++) {
				categorys[i].style.display = "none";
			}

			document.getElementById(category).style.display = "block";
		}
		$(document).ready(function() {
			$("input[type=checkbox]").change(function() {
				searchByRegion();
			});
		});

		function searchByRegion() {
			var regions = [];
			$("input[type=checkbox]:checked").each(function() {
				regions.push($(this).val());
			});
			/* 체크박스 선택 안됐을 시 에러 메세지 뜨는 현상 수정 -안재문- */
			if (regions.length === 0) {
		        // 체크박스가 모두 해제된 경우 기본 동작 수행
		        updatePlaceList([]); // 빈 리스트로 업데이트
		        return; // 서버로 요청하지 않고 종료
		    }

			$.ajax({
				url : '/searchByRegion',
				type : 'GET',
				traditional : true,
				data : {
					regions : regions
				},
				success : function(data) {
					updatePlaceList(data);
				},
				error : function() {
					alert('지역 검색 중 오류가 발생했습니다.');
				}
			});
		}
		function updatePlaceList(data) {
		    var placeList = $("#place-list");
		    placeList.empty();
		    if (data.length > 0) {
		        data.forEach(function(place, index) {
		            var placeHtml = '<li class="place-item' + (index === 0 ? ' first-item' : '') + '">'
		                + '<div class="place-content">'
		                + '<a href="/placeDetail/' + place.p_id + '" class="place-link">'
		                + '<img src="/getImage/' + place.p_iname + '" class="place-image" width="150px" />'
		                + '<div class="place-info">'
		                + '<span>' + place.p_name + '</span>'
		                + '<span>지역 : ' + place.p_location + '</span>'
		                + '<span>별점: ' + place.p_stScore.toFixed(1) + '</span>'
		                + '</div>'
		                + '</a>'
		                + '<div class="button-wrapper">'
		                + '<button type="button" data-pid="' + place.p_id + '" class="add-to-cart-button" onclick="addToCart(this.getAttribute(\'data-pid\'))">장바구니에 추가</button>'
		                + '</div>'
		                + '</div>'
		                + '</li>';

		            placeList.append(placeHtml);
		        });
		    } else {
		        placeList.append('<div>검색 결과가 없습니다.</div>');
		    }
		}
</script>
</html>
