<!-- placeList.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>장소 리스트</title>
<link rel="stylesheet" th:href="@{/css/placeList.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	

	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>

		<!-- 장소 리스트를 반복하여 표시 -->
		<th:block th:each="place : ${placeList}">
			<li>
				<a th:href="@{'/placeDetail/' + ${place.p_id}}"> <span
					th:text="${place.p_name}"></span><br /> 지역 : <span
					th:text="${place.p_location}"></span><br /> 별점: <span
					th:text="${place.p_stScore}"></span><br /> 
					<img th:src="@{'/getImage/' + ${place.p_iname}}" alt="이미지" width="100px">
				</a>
			</li>
			<br />
		</th:block>
    <a href="mapPaths">변환</a>
<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
