<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/placeListByLocation.css}">
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>

	<!-- 장소 리스트를 반복하여 표시 -->
	<div class="start-line"></div>
	<th:block th:if="${placeListByLocation != null and placeListByLocation.size() > 0}">
		<div class="image-container">
			<th:block th:each="place : ${placeListByLocation}">
				<a class="image-item" th:href="@{'/placeDetail/' + ${place.p_id}}">
					<div class="image-wrapper">
						<img class="p-img" th:src="@{'/getImage/' + ${place.p_iname}}"
							alt="이미지"> <span class="place-text"
							th:text="${place.p_name}"></span> <span class="location-text"
							th:text="${place.p_location}"></span> <img class="st-img"
							src="/images/heart.png" alt=""> <span class="stScore-text"
							th:text="${place.p_stScore}"></span>
						<div class="comment-text" th:text="${place.p_description}"></div>
					</div>
					<div class="list-line"></div>
				</a>
			</th:block>
		</div>
	</th:block>
	<th:block
		th:unless="${placeListByLocation != null and placeListByLocation.size() > 0}">
		<div class="non-content-text">장소 리스트가 존재하지 않습니다.</div>
	</th:block>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
	<script>
		$(document).ready(function() {
			$('.save-btn').click(function() {
				var placeName = $(this).siblings('.place-text').text();
				var location = $(this).siblings('.location-text').text();
				

				// Ajax 요청을 보냄
				$.ajax({
					url : '/savePlace',
					method : 'POST',
					data : {
						placeName : placeName,
						location : location,
					},
					success : function(response) {
						// 성공적으로 저장되면 할 일
						console.log('저장되었습니다.');
					},
					error : function(xhr, status, error) {
						// 저장 중 오류가 발생하면 할 일
						console.error('저장 중 오류가 발생했습니다:', error);
					}
				});
			});
		});
	</script>
</body>
</html>
