<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/resetPassword.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
	<!-- 헤더 -->
	<th:block th:replace="~{fragments/header :: header}"></th:block>
			<!-- 비밀번호 변경 텍스트 -->
			<div class="center-eng-text">F i n d P a s s w o r d</div>
			<div class="center-ko-text">비밀번호 찾기</div>
			<div class="write-line"></div>
			<section>
			<!-- 비밀번호 변경 폼 태그 -->
			<form class="login-form" th:action="sendEmail" method="post">
			<!-- 이메일 작성 박스 -->
			<input type="email" class="email-write-box" name="m_email"
				placeholder="이메일" required>
			<!-- 인증 코드 발송 버튼 -->
			<button type="submit" class="center-button" id="sbtn">인증 코드 전송</button>
		</form>
	</section>
	<!-- 푸터 -->
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>