<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
</header>
<section>
    <div class="content">
        <form class="login-form" th:action="sendEmail" method="post">
            <h2 class="login-header">비밀번호 변경</h2>
            <input type="email" class="login-input" name="m_email" placeholder="이메일" required>
            <button type="submit" class="login-btn" id="sbtn">인증 코드 전송</button>
        </form>
    </div>
</section>
<footer>
    <!-- <th:block th:insert="~{fragments::footer}" /> -->
</footer>
</body>
</html>
