<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>UpLoadProc</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/upLoadPlace.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
   crossorigin="anonymous"></script>
<script th:inline="javascript">
   $(function() {
      let m = "[[${msg}]]"; // 변수를 문자열로 변환하고 큰 따옴표로 둘러싸기
      if (m.trim() !== '') { // 문자열의 양쪽 공백을 제거하고 null 또는 빈 문자열인지 확인
         alert(m);
      }

      //파일 업로드 시 선택한 파일명 출력
      $("#file").on("change", function() {
         //파일 입력창(input type=file)에서 파일 목록 가져오기
         let files = $("#file")[0].files;
         console.log(files);

         let fileName = "";

         if (files.length == 1) {
            fileName = files[0].name;
         } else {//파일 선택 창에서 '취소' 버튼을 클릭
            fileName = "파일선택";
         }

         $(".upload-name").val(fileName);
      });
   });
</script>
</head>

<body>
   <!-- 헤더 -->
   <th:block th:replace="~{fragments/header :: header}"></th:block>
   <!-- 회원가입 텍스트 -->
   <div class="center-eng-text">U p L o a d P l a c e</div>
   <div class="center-ko-text">장소등록</div>
   <div class="write-line"></div>
   <!-- 업로드 폼 태그 -->
   <form id="uploadForm" action="upLoadPlaceProc" method="post"
      enctype="multipart/form-data">
      <div class="formtag">
         <!-- 지역 선택 -->
         <input class="img-file" type="file" name="files" id="file" multiple>
         <select class="location-button" name="p_location" id="location">
            <option value="서울">서울</option>
            <option value="인천">인천</option>
            <option value="대구">대구</option>
            <option value="대전">대전</option>
            <option value="울산">울산</option>
            <option value="부산">부산</option>
            <option value="광주">광주</option>
            <option value="경기도">경기도</option>
            <option value="강원도">강원도</option>
            <option value="경상도">경상도</option>
            <option value="전라도">전라도</option>
            <option value="충청도">충청도</option>
            <option value="제주도">제주도</option>
         </select>
         <!-- 장소명 적기 -->
         <input class="address-write" type="text" name="address" placeholder="주소를 입력하세요">
         <input class="place-name-write" type="text" name="p_name"
            placeholder="장소명"> 
            <!-- 테마 선택 -->
            <select name="p_thema" id="thema">
            <option value="놀이공원">놀이공원</option>
            <option value="맛집탐방">먹방여행</option>
            <option value="효도여행">효도여행</option>
            <option value="역사여행">역사여행</option>
            <option value="반려동물과 함께하는 여행">반려동물과 함께하는 여행</option>
            <option value="가족여행">가족여행</option>
            <option value="데이트">데이트</option>
            <option value="우정여행">우정여행</option>
            <option value="나홀로">나홀로</option>
         </select>
         <!-- 상세 정보 창 -->
         <textarea class="write-input" name="p_description" placeholder="상세정보"></textarea>
         <!-- 업로드 버튼 -->
         <input type="submit" class="btn-upLoad" value="업로드">
         <!-- <input type="reset" class="btn-delbtn" value="지우기"> -->
         </div>
         </form>
         
   <!-- 푸터 -->
   <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>