<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>UpLoadProc</title>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>
<script th:inline="javascript">
	$(function() {
		let m = "[[${msg}]]"; // 변수를 문자열로 변환하고 큰 따옴표로 둘러싸기
		if (m.trim() !== '') { // 문자열의 양쪽 공백을 제거하고 null 또는 빈 문자열인지 확인
			alert(m);
		}

		//파일 업로드 시 선택한 파일명 출력
		$("#file").on("change", function() {
			//파일 입력창(input type=file)에서 파일 목록 가져오기
			let files = $("#file")[0].files;
			console.log(files);

			let fileName = "";

			if (files.length == 1) {
				fileName = files[0].name;
			} else {//파일 선택 창에서 '취소' 버튼을 클릭
				fileName = "파일선택";
			}

			$(".upload-name").val(fileName);
		});
	});
</script>
</head>

<body>
	<div class="wrap">
		<div class="container">
			<div class="content">
				<form id="uploadForm" action="upLoadPlaceProc" method="post"
					enctype="multipart/form-data">
					<div class="filebox">
						<div class="formtag">
							<h2 class="form-header">장소등록</h2>
							<!-- 파일 입력 처리 영역 -->
							<label for="file">이미지</label> <input type="file" name="files"
								id="file" multiple> <input type="text" class="p_iname"
								value="파일선택" readonly> <select name="p_location"
								id="location">
								<option value="서울">서울</option>
								<option value="인천">인천</option>
								<option value="대구">대구</option>
								<option value="대전">대전</option>
								<option value="울산">울산</option>
								<option value="부산">부산</option>
								<option value="광주">광주</option>
								<option value="경기도">경기도</option>
								<option value="강원도">강원도</option>
								<option value="경상도">경상도</option>
								<option value="전라도">전라도</option>
								<option value="충청도">충청도</option>
								<option value="제주도">제주도</option>
							</select> <input type="text" name="p_name" placeholder="장소명"> <select
								name="p_thema" id="thema">
								<option value="놀이공원">놀이공원</option>
								<option value="먹방여행">먹방여행</option>
								<option value="효도여행">효도여행</option>
								<option value="역사여행">역사여행</option>
								<option value="반려동물과 함께하는 여행">반려동물과 함께하는 여행</option>
							</select> <select name="p_people" id="withWho">
								<option value="가족">가족</option>
								<option value="데이트">데이트</option>
								<option value="친구">친구</option>
								<option value="나홀로">나홀로 집</option>
							</select>
							<textarea rows="10" cols="50" class="write-input"
								name="p_description" placeholder="상세정보"
								style="width: 600px; height: 240px"></textarea>
							<div class="btn-area">
								<input type="submit" class="btn-write" value="업로드"> <input
									type="reset" class="btn-delbtn" value="지우기"> <input
									type="button" class="btn-backbtn" value="돌아가기" id="backbtn">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

