@charset "UTF-8";
* {
   box-sizing: border-box;
}
html {
   height: 100%;
}

body {
   margin: 0;
   height: 105%;
   display: flex;
   flex-direction: column;
   font-family: 'SUITE', sans-serif;
}
/* 머릿글 영문 텍스트 */
.center-eng-text {
    text-align: center;
    color: black;
    position: relative;
    top: 5%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    font-size: 24px;
    font-weight: bold;
}
/* 머릿글 한글 텍스트 */
.center-ko-text {
    text-align: center;
    color: black;
    position: relative;
    top: 7%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    font-size: 16px;
}
/* 텍스트 종료 라인 */
.write-line {
	width: 15%;
	border-top: 1px solid gray;
	margin: 0 auto;
	position: relative;
	top: 10%;
}
/* 비밀번호 변경 박스 */
.password-write-box {
    position: absolute; 
	top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%); 	
    width: 25%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 14px;
}
/* 비밀번호 변경 버튼 */
.center-button {
    background-color: black;
    color: white;
    font-weight: bold; 
    width: 25%;
    height: 30px;
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    line-height: 30px;
    text-decoration-line: none;
    border-radius: 3px;
    font-size: 10px;
}

.password-write-box:focus {
	outline: none;
}