@charset "UTF-8";
* {
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   margin: 0;
   height: 100%;
   background-color: #dbdffd;
   display: flex;
   flex-direction: column;
}

.center-background {
    background-color: black;
    opacity: 50%;
    text-align: center;
    height: 100%;
    width: 50%;
    position: fixed; /* 고정 위치 설정 */
    top: 50%; /* 화면 상단으로부터의 거리를 50%로 설정 */
    left: 50%; /* 화면 좌측으로부터의 거리를 50%로 설정 */
    transform: translate(-50%, -50%); /* 요소를 수평 및 수직으로 중앙으로 이동 */
}

.center-text {
    text-align: center;
    color: white;
    position: relative;
    top: 20%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    font-size: 36px;
    font-weight: bold; 
}
.name-write-box {
    position: absolute; /* 절대 위치 설정 */
    top: 40%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    left: 50%; /* 부모 요소 좌측에서의 거리를 50%로 설정 */
    transform: translate(-50%, -50%); /* 요소를 수평 및 수직으로 중앙으로 이동 */
    width: 70%;
    height: 50px;
    background-color: transparent;
    border: 2px solid blue;
   color: white;
    font-size: 24px;
    text-align: center;
}

.phone-write-box {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    left: 50%; /* 부모 요소 좌측에서의 거리를 50%로 설정 */
    transform: translate(-50%, -50%); /* 요소를 수평 및 수직으로 중앙으로 이동 */
    width: 70%;
    height: 50px;
    background-color: transparent;
    border: 2px solid blue;
    color: white;
    font-size: 24px;
    text-align: center;
}

.write:focus {
    outline: none; /* 포커스 테두리 없애기 */
}

.center-button {
    background-color: white;
    color: black;
    font-weight: bold; 
    width: 30%;
    height: 35px;
    position: absolute;
    top: 90%; /* 상단에서 50% 위치에 배치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 이동 */
    line-height: 35px;
    text-decoration-line: none;
}

.gender-write-box select{
    width: 100%;
    height: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

input::placeholder {
   font-size: 24px;
   text-align: center;
}

.gender-male {
    position: absolute;
    left: 30%;
    top: 60%;
}

.gender-female {
    position: absolute;
    right: 30%;
    top: 60%;
}

.gender-male-text {
    color: white;
    position: absolute;
    top: 65%;
    font-size: 18px;
    left: 30%
}

.gender-female-text {
    color: white;
    position: absolute;
    top: 65%;
    font-size: 18px;
    right: 30%
}

[type="radio"], span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  transition: border 0.2s ease-in-out;
}

[type="radio"]:checked {
  border: 0.7em solid blue;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.name-write-box:focus {
    outline: none; /* 포커스 테두리 없애기 */
}
.phone-write-box:focus {
    outline: none; /* 포커스 테두리 없애기 */
}