@charset "UTF-8";
* {
   box-sizing: border-box;
}
html {
   height: 100%;
}

body {
   margin: 0;
   height: 105%;
   display: flex;
   flex-direction: column;
   font-family: 'SUITE', sans-serif;
}
/* 머릿글 영문 텍스트 */
.center-eng-text {
    text-align: center;
    color: black;
    position: relative;
    top: 5%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    font-size: 24px;
    font-weight: bold;
}
/* 머릿글 한글 텍스트 */
.center-ko-text {
    text-align: center;
    color: black;
    position: relative;
    top: 7%; /* 부모 요소 상단에서의 거리를 50%로 설정 */
    font-size: 16px;
}
/* 텍스트 종료 라인 */
.write-line {
	width: 15%;
	border-top: 1px solid gray;
	margin: 0 auto;
	position: relative;
	top: 10%;
}
/* 회원 표 크기 */
.member-graph {
	width: 80%;
}
/* 회원 표 위치 */
table {
	width: 80%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* 회원 표 헤더 */
.member-graph-header {
	text-align: left;
	background-color: black;
	color: white;
	border-radius: 1px;
}
/* 회원 표 리스트 */
.member-graph-list {
	border: 1px solid black;
	color: black;
	height: 35px;
	border-radius: 1px;
}
/* 뒤로가기 버튼 */
.back-button {
	background-color: black;
	color: white;
	font-weight: bold; 
	width: 10%;
	height: 30px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 30px;
	text-decoration-line: none;
	border-radius: 3px;
	font-size: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}