@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'SUITE', sans-serif;
}

#map {
	width: 100%;
	height: 500px;
	border: 1px solid black;
	/* 시각적 확인을 위한 경계선 추가 */
}