@charset "UTF-8";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 50%;
	display: flex;
	flex-direction: column;
	font-family: 'SUITE', sans-serif;
}
/* 리스트 시작 선 */
.start-line {
	width: 80%;
	border-top: gray 1px solid;
	margin-left: 10%;
	margin-top: 15%;
}
/* 지역 정렬 */
.location-array {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 17%;
	width: 96%;
	display: flex;
	justify-content: center;
}
/* 개별 지역 출력 */
.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: 2%;
	margin-left: 2%;
}
/* 버튼과 텍스트를 함께 감싸는 컨테이너 */
.button-text-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 개별 지역 버튼 */
.circle-button {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid black;
	overflow: hidden;
	cursor: pointer;
}
/* 개별 지역 클릭시 */
.circle-button:active {
	background-color: white;
	color: black;
}
/* 개별 지역 버튼 이미지 */
.circle-button img {
	width: 100px;
	height: 100px;
}

/* 버튼 아래에 표시되는 텍스트 */
.location-name {
	font-size: 16px;
	margin-top: 10px;
}

.list-line {
	width: 100%;
	border-top: gray 1px solid;
	position: relative;
	top: 45%;
}

.image-container {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	flex-wrap: wrap; /* 자식 요소들을 여러 줄로 나열하도록 설정 */
}

.image-item {
	width: calc(33.33% - 7.5%);
	margin-bottom: 15%;
}

.image-wrapper {
	position: relative;
	text-align: center;
	height: 275px;
	background-color: black;
}

.place-text {
	position: absolute;
	left: 50%;
	bottom: -25%;
	transform: translateX(-50%);
	color: black;
	font-size: 20px;
	text-align: center;
}

.location-text {
	position: absolute;
	left: 50%;
	bottom: -40%;
	transform: translateX(-50%);
	color: black;
	font-size: 14px;
	text-align: center;
}
.p-img {
	width: 100%;
	height: 275px;
	transition: transform 0.3s ease;
}
.p-img:hover {
	transform: scale(1.05);
}
.non-content-text {
	text-align: center;
	color: black;
	position: relative;
	top: 100%;
	font-size: 16px;
}